---
- name: untar the file
  unarchive:
    src: swiagent.tar.gz
    dest: /home/ansible
    mode: 0755
  when: ansible_os_family== "Debian"
- name: untar the file centos
  unarchive:
    src: swiagent-centos.tar.gz
    dest: /home/ansible
    mode: 0755
  when: ansible_os_family== "RedHat"
- name: run install.sh
  command: bash /home/ansible/install.sh
